<div class="ms-3 me-3">
    <div class="header">
        <h4 >View Results</h4><span class="task"><a href="#" >Home</a> / View Results </span>
    </div>

    <div class="card">
        <div class="card-header bg-primary text-white">View Results</div>
        <div class="card-body">
            <table class="table table-bordered table-responsive  " id="taskTable">
                <thead >
                    <tr>
                        <th>ID</th>
                        <th>Subject</th>
                        <th>Test</th>
                        <th>Exam</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>
</div>


